.CSP-doc-0 {
	background: url('../img/CSP/doc.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-doc-1 {
	background: url('../img/CSP/doc.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

..CSP-doc-2 {
	background: url('../img/CSP/doc.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-doc-3 {
	background: url('../img/CSP/doc.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-doc-4 {
	background: url('../img/CSP/doc.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mario-0 {
	background: url('../img/CSP/mario.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mario-1 {
	background: url('../img/CSP/mario.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mario-2 {
	background: url('../img/CSP/mario.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mario-3 {
	background: url('../img/CSP/mario.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mario-4 {
	background: url('../img/CSP/mario.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-luigi-0 {
	background: url('../img/CSP/luigi.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-luigi-1 {
	background: url('../img/CSP/luigi.png') no-repeat -136x 0px;
	width: 136px;
	height: 188px;
}

.CSP-luigi-2 {
	background: url('../img/CSP/luigi.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-luigi-3 {
	background: url('../img/CSP/luigi.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-bowser-0 {
	background: url('../img/CSP/bowser.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-bowser-1 {
	background: url('../img/CSP/bowser.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-bowser-2 {
	background: url('../img/CSP/bowser.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-bowser-3 {
	background: url('../img/CSP/bowser.png') no-repeat -409px 0px;
	width: 136px;
	height: 188px;
}

.CSP-peach-0 {
	background: url('../img/CSP/peach.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-peach-1 {
	background: url('../img/CSP/peach.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-peach-2 {
	background: url('../img/CSP/peach.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-peach-3 {
	background: url('../img/CSP/peach.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-peach-4 {
	background: url('../img/CSP/peach.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-yoshi-0 {
	background: url('../img/CSP/yoshi.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}


.CSP-yoshi-1 {
	background: url('../img/CSP/yoshi.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}


.CSP-yoshi-2 {
	background: url('../img/CSP/yoshi.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}


.CSP-yoshi-3 {
	background: url('../img/CSP/yoshi.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}


.CSP-yoshi-4 {
	background: url('../img/CSP/yoshi.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}


.CSP-yoshi-5 {
	background: url('../img/CSP/yoshi.png') no-repeat -680px 0px;
	width: 136px;
	height: 188px;
}

.CSP-dk-0 {
	background: url('../img/CSP/dk.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-dk-1 {
	background: url('../img/CSP/dk.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}


.CSP-dk-2 {
	background: url('../img/CSP/dk.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}


.CSP-dk-3 {
	background: url('../img/CSP/dk.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-dk-4 {
	background: url('../img/CSP/dk.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-cf-0 {
	background: url('../img/CSP/cf.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-cf-1 {
	background: url('../img/CSP/cf.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-cf-2 {
	background: url('../img/CSP/cf.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-cf-3 {
	background: url('../img/CSP/cf.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-cf-4 {
	background: url('../img/CSP/cf.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-cf-5 {
	background: url('../img/CSP/cf.png') no-repeat -680px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ganondorf-0 {
	background: url('../img/CSP/dorf.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ganondorf-1 {
	background: url('../img/CSP/dorf.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ganondorf-2 {
	background: url('../img/CSP/dorf.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ganondorf-3 {
	background: url('../img/CSP/dorf.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ganondorf-4 {
	background: url('../img/CSP/dorf.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-falco-0 {
	background: url('../img/CSP/falco.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}


.CSP-falco-1 {
	background: url('../img/CSP/falco.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}


.CSP-falco-2 {
	background: url('../img/CSP/falco.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}


.CSP-falco-3 {
	background: url('../img/CSP/falco.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-fox-0 {
	background: url('../img/CSP/fox.png') no-repeat -0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-fox-1 {
	background: url('../img/CSP/fox.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-fox-2 {
	background: url('../img/CSP/fox.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-fox-3 {
	background: url('../img/CSP/fox.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ness-0 {
	background: url('../img/CSP/ness.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ness-1 {
	background: url('../img/CSP/ness.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ness-2 {
	background: url('../img/CSP/ness.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ness-3 {
	background: url('../img/CSP/ness.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ic-0 {
	background: url('../img/CSP/ic.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ic-1 {
	background: url('../img/CSP/ic.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ic-2 {
	background: url('../img/CSP/ic.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-ic-3 {
	background: url('../img/CSP/ic.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-kirby-0 {
	background: url('../img/CSP/kirby.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-kirby-1 {
	background: url('../img/CSP/kirby.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-kirby-2 {
	background: url('../img/CSP/kirby.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-kirby-3 {
	background: url('../img/CSP/kirby.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-kirby-4 {
	background: url('../img/CSP/kirby.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-kirby-5 {
	background: url('../img/CSP/kirby.png') no-repeat -680px 0px;
	width: 136px;
	height: 188px;
}

.CSP-samus-0 {
	background: url('../img/CSP/samus.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-samus-1 {
	background: url('../img/CSP/samus.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-samus-2 {
	background: url('../img/CSP/samus.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-samus-3 {
	background: url('../img/CSP/samus.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-samus-4 {
	background: url('../img/CSP/samus.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-zelda-0 {
	background: url('../img/CSP/zelda.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-zelda-1 {
	background: url('../img/CSP/zelda.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-zelda-2 {
	background: url('../img/CSP/zelda.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-zelda-3 {
	background: url('../img/CSP/zelda.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-zelda-4 {
	background: url('../img/CSP/zelda.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-sheik-0 {
	background: url('../img/CSP/sheik.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-sheik-1 {
	background: url('../img/CSP/sheik.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-sheik-2 {
	background: url('../img/CSP/sheik.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-sheik-3 {
	background: url('../img/CSP/sheik.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-sheik-4 {
	background: url('../img/CSP/sheik.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-link-0 {
	background: url('../img/CSP/link.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-link-1 {
	background: url('../img/CSP/link.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-link-2 {
	background: url('../img/CSP/link.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-link-3 {
	background: url('../img/CSP/link.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-link-4 {
	background: url('../img/CSP/link.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-yl-0 {
	background: url('../img/CSP/yl.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-yl-1 {
	background: url('../img/CSP/yl.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-yl-2 {
	background: url('../img/CSP/yl.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-yl-3 {
	background: url('../img/CSP/yl.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-yl-4 {
	background: url('../img/CSP/yl.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-pichu-0 {
	background: url('../img/CSP/pichu.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-pichu-1 {
	background: url('../img/CSP/pichu.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-pichu-2 {
	background: url('../img/CSP/pichu.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-pichu-3 {
	background: url('../img/CSP/pichu.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-pikachu-0 {
	background: url('../img/CSP/pika.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-pikachu-1 {
	background: url('../img/CSP/pika.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-pikachu-2 {
	background: url('../img/CSP/pika.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-pikachu-3 {
	background: url('../img/CSP/pika.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-jigglypuff-0 {
	background: url('../img/CSP/puff.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-jigglypuff-1 {
	background: url('../img/CSP/puff.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-jigglypuff-2 {
	background: url('../img/CSP/puff.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-jigglypuff-3 {
	background: url('../img/CSP/puff.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-jigglypuff-4 {
	background: url('../img/CSP/puff.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mewtwo-0 {
	background: url('../img/CSP/mewtwo.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mewtwo-1 {
	background: url('../img/CSP/mewtwo.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mewtwo-2 {
	background: url('../img/CSP/mewtwo.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-mewtwo-3 {
	background: url('../img/CSP/mewtwo.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-gw-0 {
	background: url('../img/CSP/gaw.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-gw-1 {
	background: url('../img/CSP/gaw.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-gw-2 {
	background: url('../img/CSP/gaw.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-gw-3 {
	background: url('../img/CSP/gaw.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-marth-0 {
	background: url('../img/CSP/marth.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-marth-1 {
	background: url('../img/CSP/marth.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-marth-2 {
	background: url('../img/CSP/marth.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-marth-3 {
	background: url('../img/CSP/marth.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-marth-4 {
	background: url('../img/CSP/marth.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-roy-0 {
	background: url('../img/CSP/roy.png') no-repeat 0px 0px;
	width: 136px;
	height: 188px;
}

.CSP-roy-1 {
	background: url('../img/CSP/roy.png') no-repeat -136px 0px;
	width: 136px;
	height: 188px;
}

.CSP-roy-2 {
	background: url('../img/CSP/roy.png') no-repeat -272px 0px;
	width: 136px;
	height: 188px;
}

.CSP-roy-3 {
	background: url('../img/CSP/roy.png') no-repeat -408px 0px;
	width: 136px;
	height: 188px;
}

.CSP-roy-4 {
	background: url('../img/CSP/roy.png') no-repeat -544px 0px;
	width: 136px;
	height: 188px;
}

.CSP-none {
	background: url('') no-repeat 0px 0px;
	width: 0px;
	height: 0px;
	margin: 0px;
}