#p1CSP {
position: absolute;
top: -188px;
right: -2px;
}

#p1dmg {
position: absolute;
top: -113px;
left: 19px;
height: 32px;
width: 128px;
}

#p1name {
position: absolute;
top: 2px;
left: 2px;
height: 30px;
width: 234px;
}

#p1stock-1 {
position: absolute;
top: 36px;
left: 30px;
height: 24px;
width: 24px;
}

#p1stock-2 {
position: absolute;
top: 36px;
left: 81px;
height: 24px;
width: 24px;
}

#p1stock-3 {
position: absolute;
top: 36px;
left: 132px;
height: 24px;
width: 24px;
}

#p1stock-4 {
position: absolute;
top: 36px;
left: 183px;
height: 24px;
width: 24px;
}

#p1score {
position: absolute;
top: 2px;
left: 237px;
height:60px;
width: 61px;
}

#p4CSP {
position: absolute;
top: -188px;
right: -2px;
}

#p4dmg {
position: absolute;
top: -113px;
left: 19px;
height: 32px;
width: 128px;
}

#p4name {
position: absolute;
top: 2px;
left: 2px;
height: 30px;
width: 234px;
}

#p4stock-1 {
position: absolute;
top: 36px;
left: 30px;
height: 24px;
width: 24px;
}

#p4stock-2 {
position: absolute;
top: 36px;
left: 81px;
height: 24px;
width: 24px;
}

#p4stock-3 {
position: absolute;
top: 36px;
left: 132px;
height: 24px;
width: 24px;
}

#p4stock-4 {
position: absolute;
top: 36px;
left: 183px;
height: 24px;
width: 24px;
}

#p4score {
position: absolute;
top: 2px;
left: 237px;
height:60px;
width: 61px;
}

#p3port {
transform: scaleX(-1);
}
#p3CSP {
top: -188px;
position: absolute;
transform: scaleX(-1);
}

#p3dmg {
position: absolute;
top: -113px;
right: 30px;
height: 32px;
width: 128px;
}

#p3name {
position: absolute;
top: 2px;
right: 2px;
height: 30px;
width: 234px;
}

#p3stock-1 {
top: 36px;
right: 30px;
height: 24px;
width: 24px;
position: absolute;
transform: scaleX(-1);
}

#p3stock-2 {
top: 36px;
right: 81px;
height: 24px;
width: 24px;
position: absolute;
transform: scaleX(-1);
}

#p3stock-3 {
top: 36px;
right: 132px;
height: 24px;
width: 24px;
position: absolute;
transform: scaleX(-1);
}

#p3stock-4 {
top: 36px;
right: 183px;
height: 24px;
width: 24px;
position: absolute;
transform: scaleX(-1);
}

#p3score {
position: absolute;
top: 2px;
right: 237px;
height:60px;
width: 61px;
}

#p2CSP {
top: -188px;
position: absolute;
transform: scaleX(-1);
}

#p2port {
transform: scaleX(-1);
}

#p2dmg {
position: absolute;
top: -113px;
right: 30px;
height: 32px;
width: 128px;
}

#p2name {
position: absolute;
top: 2px;
right: 2px;
height: 30px;
width: 234px;
}

#p2stock-1 {
top: 36px;
right: 30px;
height: 24px;
width: 24px;
position: absolute;
transform: scaleX(-1);
}

#p2stock-2 {
top: 36px;
right: 81px;
height: 24px;
width: 24px;
position: absolute;
transform: scaleX(-1);
}

#p2stock-3 {
top: 36px;
right: 132px;
height: 24px;
width: 24px;
position: absolute;
transform: scaleX(-1);
}

#p2stock-4 {
top: 36px;
right: 183px;
height: 24px;
width: 24px;
position: absolute;
transform: scaleX(-1);
}

#p2score {
position: absolute;
top: 2px;
height: 60px;
width: 61px;
}

.port-1 {
background: url(../img/port1.png) no-repeat;
width: 300px;
height: 64px;
}

.port-2 {
background: url(../img/port2.png) no-repeat;
width: 300px;
height: 64px;
}

.port-3 {
background: url(../img/port3.png) no-repeat;
width: 300px;
height: 64px;
}

.port-4 {
background: url(../img/port4.png) no-repeat;
width: 300px;
height: 64px;
}

.name {
color: white;
text-align: center;
font-size: 26px;
}

.score {
text-align: center;
color: white;
font-size: 53px;
}

.tag {

}

.panel {
    color: white;
    text-align: center;
}

.damage {
color: white;
font-size: 64px;
}