.stock-doc-0 {
	background: url('../img/heads.png') no-repeat -36px -1px;
	width: 24px;
	height: 24px;
}

.stock-doc-1 {
	background: url('../img/heads.png') no-repeat -62px -1px;
	width: 24px;
	height: 24px;
}

.stock-doc-2 {
	background: url('../img/heads.png') no-repeat -88px -1px;
	width: 24px;
	height: 24px;
}

.stock-doc-3 {
	background: url('../img/heads.png') no-repeat -114px -1px;
	width: 24px;
	height: 24px;
}

.stock-doc-4 {
	background: url('../img/heads.png') no-repeat -140px -1px;
	width: 24px;
	height: 24px;
}

.stock-mario-0 {
	background: url('../img/heads.png') no-repeat -177px -1px;
	width: 24px;
	height: 24px;
}

.stock-mario-1 {
	background: url('../img/heads.png') no-repeat -204px -1px;
	width: 24px;
	height: 24px;
}

.stock-mario-2 {
	background: url('../img/heads.png') no-repeat -231px -1px;
	width: 24px;
	height: 24px;
}

.stock-mario-4 {
	background: url('../img/heads.png') no-repeat -258px -1px;
	width: 24px;
	height: 24px;
}

.stock-mario-5 {
	background: url('../img/heads.png') no-repeat -285px -1px;
	width: 24px;
	height: 24px;
}

.stock-luigi-0 {
	background: url('../img/heads.png') no-repeat -329px -1px;
	width: 24px;
	height: 24px;
}

.stock-luigi-1 {
	background: url('../img/heads.png') no-repeat -356px -1px;
	width: 24px;
	height: 24px;
}

.stock-luigi-2 {
	background: url('../img/heads.png') no-repeat -383px -1px;
	width: 24px;
	height: 24px;
}

.stock-luigi-3 {
	background: url('../img/heads.png') no-repeat -410px -1px;
	width: 24px;
	height: 24px;
}

.stock-bowser-0 {
	background: url('../img/heads.png') no-repeat -454px -1px;
	width: 24px;
	height: 24px;
}

.stock-bowser-1 {
	background: url('../img/heads.png') no-repeat -483px -1px;
	width: 24px;
	height: 24px;
}

.stock-bowser-2 {
	background: url('../img/heads.png') no-repeat -512px -1px;
	width: 24px;
	height: 24px;
}

.stock-bowser-3 {
	background: url('../img/heads.png') no-repeat -541px -1px;
	width: 24px;
	height: 24px;
}

.stock-peach-0 {
	background: url('../img/heads.png') no-repeat -56px -38px;
	width: 24px;
	height: 24px;
}

.stock-peach-1 {
	background: url('../img/heads.png') no-repeat -85px -38px;
	width: 24px;
	height: 24px;
}

.stock-peach-2 {
	background: url('../img/heads.png') no-repeat -114px -38px;
	width: 24px;
	height: 24px;
}

.stock-peach-3 {
	background: url('../img/heads.png') no-repeat -143px -38px;
	width: 24px;
	height: 24px;
}

.stock-peach-4 {
	background: url('../img/heads.png') no-repeat -172px -38px;
	width: 24px;
	height: 24px;
}

.stock-yoshi-0 {
	background: url('../img/heads.png') no-repeat -218px -38px;
	width: 24px;
	height: 24px;
}


.stock-yoshi-1 {
	background: url('../img/heads.png') no-repeat -247px -38px;
	width: 24px;
	height: 24px;
}


.stock-yoshi-2 {
	background: url('../img/heads.png') no-repeat -276px -38px;
	width: 24px;
	height: 24px;
}


.stock-yoshi-3 {
	background: url('../img/heads.png') no-repeat -305px -38px;
	width: 24px;
	height: 24px;
}


.stock-yoshi-4 {
	background: url('../img/heads.png') no-repeat -334px -38px;
	width: 24px;
	height: 24px;
}


.stock-yoshi-5 {
	background: url('../img/heads.png') no-repeat -363px -38px;
	width: 24px;
	height: 24px;
}

.stock-dk-0 {
	background: url('../img/heads.png') no-repeat -407px -38px;
	width: 24px;
	height: 24px;
}

.stock-dk-1 {
	background: url('../img/heads.png') no-repeat -436px -38px;
	width: 24px;
	height: 24px;
}


.stock-dk-2 {
	background: url('../img/heads.png') no-repeat -465px -38px;
	width: 24px;
	height: 24px;
}


.stock-dk-3 {
	background: url('../img/heads.png') no-repeat -494px -38px;
	width: 24px;
	height: 24px;
}

.stock-dk-4 {
	background: url('../img/heads.png') no-repeat -523px -38px;
	width: 24px;
	height: 24px;
}

.stock-cf-0 {
	background: url('../img/heads.png') no-repeat -1px -74px;
	width: 24px;
	height: 24px;
}

.stock-cf-1 {
	background: url('../img/heads.png') no-repeat -29px -74px;
	width: 24px;
	height: 24px;
}

.stock-cf-2 {
	background: url('../img/heads.png') no-repeat -57px -74px;
	width: 24px;
	height: 24px;
}

.stock-cf-3 {
	background: url('../img/heads.png') no-repeat -85px -74px;
	width: 24px;
	height: 24px;
}

.stock-cf-4 {
	background: url('../img/heads.png') no-repeat -113px -74px;
	width: 24px;
	height: 24px;
}

.stock-cf-5 {
	background: url('../img/heads.png') no-repeat -141px -74px;
	width: 24px;
	height: 24px;
}

.stock-ganondorf-0 {
	background: url('../img/heads.png') no-repeat -188px -74px;
	width: 24px;
	height: 24px;
}

.stock-ganondorf-1 {
	background: url('../img/heads.png') no-repeat -217px -74px;
	width: 24px;
	height: 24px;
}

.stock-ganondorf-2 {
	background: url('../img/heads.png') no-repeat -246px -74px;
	width: 24px;
	height: 24px;
}

.stock-ganondorf-3 {
	background: url('../img/heads.png') no-repeat -275px -74px;
	width: 24px;
	height: 24px;
}

.stock-ganondorf-4 {
	background: url('../img/heads.png') no-repeat -304px -74px;
	width: 24px;
	height: 24px;
}

.stock-falco-0 {
	background: url('../img/heads.png') no-repeat -354px -74px;
	width: 24px;
	height: 24px;
}


.stock-falco-1 {
	background: url('../img/heads.png') no-repeat -383px -74px;
	width: 24px;
	height: 24px;
}


.stock-falco-2 {
	background: url('../img/heads.png') no-repeat -412px -74px;
	width: 24px;
	height: 24px;
}


.stock-falco-3 {
	background: url('../img/heads.png') no-repeat -441px -74px;
	width: 24px;
	height: 24px;
}

.stock-fox-0 {
	background: url('../img/heads.png') no-repeat -490px -74px;
	width: 24px;
	height: 24px;
}

.stock-fox-1 {
	background: url('../img/heads.png') no-repeat -519px -74px;
	width: 24px;
	height: 24px;
}

.stock-fox-2 {
	background: url('../img/heads.png') no-repeat -548px -74px;
	width: 24px;
	height: 24px;
}

.stock-fox-3 {
	background: url('../img/heads.png') no-repeat -577px -74px;
	width: 24px;
	height: 24px;
}

.stock-ness-0 {
	background: url('../img/heads.png') no-repeat -14px -110px;
	width: 24px;
	height: 24px;
}

.stock-ness-1 {
	background: url('../img/heads.png') no-repeat -42px -110px;
	width: 24px;
	height: 24px;
}

.stock-ness-2 {
	background: url('../img/heads.png') no-repeat -70px -110px;
	width: 24px;
	height: 24px;
}

.stock-ness-3 {
	background: url('../img/heads.png') no-repeat -98px -110px;
	width: 24px;
	height: 24px;
}

.stock-ic-0 {
	background: url('../img/heads.png') no-repeat -142px -109px;
	width: 24px;
	height: 24px;
}

.stock-ic-1 {
	background: url('../img/heads.png') no-repeat -171px -109px;
	width: 24px;
	height: 24px;
}

.stock-ic-2 {
	background: url('../img/heads.png') no-repeat -200px -109px;
	width: 24px;
	height: 24px;
}

.stock-ic-3 {
	background: url('../img/heads.png') no-repeat -229px -109px;
	width: 24px;
	height: 24px;
}

.stock-kirby-0 {
	background: url('../img/heads.png') no-repeat -270px -111px;
	width: 24px;
	height: 24px;
}

.stock-kirby-1 {
	background: url('../img/heads.png') no-repeat -297px -111px;
	width: 24px;
	height: 24px;
}

.stock-kirby-2 {
	background: url('../img/heads.png') no-repeat -324px -111px;
	width: 24px;
	height: 24px;
}

.stock-kirby-3 {
	background: url('../img/heads.png') no-repeat -351px -111px;
	width: 24px;
	height: 24px;
}

.stock-kirby-4 {
	background: url('../img/heads.png') no-repeat -378px -111px;
	width: 24px;
	height: 24px;
}

.stock-kirby-5 {
	background: url('../img/heads.png') no-repeat -405px -111px;
	width: 24px;
	height: 24px;
}

.stock-samus-0 {
	background: url('../img/heads.png') no-repeat -445px -111px;
	width: 24px;
	height: 24px;
}

.stock-samus-1 {
	background: url('../img/heads.png') no-repeat -474px -111px;
	width: 24px;
	height: 24px;
}

.stock-samus-2 {
	background: url('../img/heads.png') no-repeat -503px -111px;
	width: 24px;
	height: 24px;
}

.stock-samus-3 {
	background: url('../img/heads.png') no-repeat -532px -111px;
	width: 24px;
	height: 24px;
}

.stock-samus-4 {
	background: url('../img/heads.png') no-repeat -561px -111px;
	width: 24px;
	height: 24px;
}

.stock-zelda-0 {
	background: url('../img/heads.png') no-repeat -62px -146px;
	width: 24px;
	height: 24px;
}

.stock-zelda-1 {
	background: url('../img/heads.png') no-repeat -91px -146px;
	width: 24px;
	height: 24px;
}

.stock-zelda-2 {
	background: url('../img/heads.png') no-repeat -120px -146px;
	width: 24px;
	height: 24px;
}

.stock-zelda-3 {
	background: url('../img/heads.png') no-repeat -149px -146px;
	width: 24px;
	height: 24px;
}

.stock-zelda-4 {
	background: url('../img/heads.png') no-repeat -178px -146px;
	width: 24px;
	height: 24px;
}

.stock-sheik-0 {
	background: url('../img/heads.png') no-repeat -224px -146px;
	width: 24px;
	height: 24px;
}

.stock-sheik-1 {
	background: url('../img/heads.png') no-repeat -253px -146px;
	width: 24px;
	height: 24px;
}

.stock-sheik-2 {
	background: url('../img/heads.png') no-repeat -282px -146px;
	width: 24px;
	height: 24px;
}

.stock-sheik-3 {
	background: url('../img/heads.png') no-repeat -311px -146px;
	width: 24px;
	height: 24px;
}

.stock-sheik-4 {
	background: url('../img/heads.png') no-repeat -340px -146px;
	width: 24px;
	height: 24px;
}

.stock-link-0 {
	background: url('../img/heads.png') no-repeat -386px -146px;
	width: 24px;
	height: 24px;
}

.stock-link-1 {
	background: url('../img/heads.png') no-repeat -415px -146px;
	width: 24px;
	height: 24px;
}

.stock-link-2 {
	background: url('../img/heads.png') no-repeat -444px -146px;
	width: 24px;
	height: 24px;
}

.stock-link-3 {
	background: url('../img/heads.png') no-repeat -473px -146px;
	width: 24px;
	height: 24px;
}

.stock-link-4 {
	background: url('../img/heads.png') no-repeat -502px -146px;
	width: 24px;
	height: 24px;
}

.stock-yl-0 {
	background: url('../img/heads.png') no-repeat -22px -182px;
	width: 24px;
	height: 24px;
}

.stock-yl-1 {
	background: url('../img/heads.png') no-repeat -51px -182px;
	width: 24px;
	height: 24px;
}

.stock-yl-2 {
	background: url('../img/heads.png') no-repeat -80px -182px;
	width: 24px;
	height: 24px;
}

.stock-yl-3 {
	background: url('../img/heads.png') no-repeat -109px -182px;
	width: 24px;
	height: 24px;
}

.stock-yl-4 {
	background: url('../img/heads.png') no-repeat -138px -182px;
	width: 24px;
	height: 24px;
}

.stock-pichu-0 {
	background: url('../img/heads.png') no-repeat -182px -184px;
	width: 24px;
	height: 24px;
}

.stock-pichu-1 {
	background: url('../img/heads.png') no-repeat -211px -184px;
	width: 24px;
	height: 24px;
}

.stock-pichu-2 {
	background: url('../img/heads.png') no-repeat -240px -184px;
	width: 24px;
	height: 24px;
}

.stock-pichu-3 {
	background: url('../img/heads.png') no-repeat -269px -184px;
	width: 24px;
	height: 24px;
}

.stock-pikachu-0 {
	background: url('../img/heads.png') no-repeat -310px -182px;
	width: 24px;
	height: 24px;
}

.stock-pikachu-1 {
	background: url('../img/heads.png') no-repeat -339px -182px;
	width: 24px;
	height: 24px;
}

.stock-pikachu-2 {
	background: url('../img/heads.png') no-repeat -368px -182px;
	width: 24px;
	height: 24px;
}

.stock-pikachu-3 {
	background: url('../img/heads.png') no-repeat -397px -182px;
	width: 24px;
	height: 24px;
}

.stock-jigglypuff-0 {
	background: url('../img/heads.png') no-repeat -441px -182px;
	width: 24px;
	height: 24px;
}

.stock-jigglypuff-1 {
	background: url('../img/heads.png') no-repeat -468px -182px;
	width: 24px;
	height: 24px;
}

.stock-jigglypuff-2 {
	background: url('../img/heads.png') no-repeat -496px -182px;
	width: 24px;
	height: 24px;
}

.stock-jigglypuff-3 {
	background: url('../img/heads.png') no-repeat -524px -182px;
	width: 24px;
	height: 24px;
}

.stock-jigglypuff-4 {
	background: url('../img/heads.png') no-repeat -551px -182px;
	width: 24px;
	height: 24px;
}

.stock-mewtwo-0 {
	background: url('../img/heads.png') no-repeat -25px -217px;
	width: 24px;
	height: 24px;
}

.stock-mewtwo-1 {
	background: url('../img/heads.png') no-repeat -50px -217px;
	width: 24px;
	height: 24px;
}

.stock-mewtwo-2 {
	background: url('../img/heads.png') no-repeat -75px -217px;
	width: 24px;
	height: 24px;
}

.stock-mewtwo-3 {
	background: url('../img/heads.png') no-repeat -100px -217px;
	width: 24px;
	height: 24px;
}

.stock-gw-0 {
	background: url('../img/heads.png') no-repeat -140px -220px;
	width: 24px;
	height: 24px;
}

.stock-gw-1 {
	background: url('../img/heads.png') no-repeat -169px -220px;
	width: 24px;
	height: 24px;
}

.stock-gw-2 {
	background: url('../img/heads.png') no-repeat -198px -220px;
	width: 24px;
	height: 24px;
}

.stock-gw-3 {
	background: url('../img/heads.png') no-repeat -227px -220px;
	width: 24px;
	height: 24px;
}

.stock-marth-0 {
	background: url('../img/heads.png') no-repeat -273px -217px;
	width: 24px;
	height: 24px;
}

.stock-marth-1 {
	background: url('../img/heads.png') no-repeat -301px -217px;
	width: 24px;
	height: 24px;
}

.stock-marth-2 {
	background: url('../img/heads.png') no-repeat -329px -217px;
	width: 24px;
	height: 24px;
}

.stock-marth-3 {
	background: url('../img/heads.png') no-repeat -357px -217px;
	width: 24px;
	height: 24px;
}

.stock-marth-4 {
	background: url('../img/heads.png') no-repeat -385px -217px;
	width: 24px;
	height: 24px;
}

.stock-roy-0 {
	background: url('../img/heads.png') no-repeat -434px -217px;
	width: 24px;
	height: 24px;
}

.stock-roy-1 {
	background: url('../img/heads.png') no-repeat -463px -217px;
	width: 24px;
	height: 24px;
}

.stock-roy-2 {
	background: url('../img/heads.png') no-repeat -492px -217px;
	width: 24px;
	height: 24px;
}

.stock-roy-3 {
	background: url('../img/heads.png') no-repeat -521px -217px;
	width: 24px;
	height: 24px;
}

.stock-roy-4 {
	background: url('../img/heads.png') no-repeat -550px -217px;
	width: 24px;
	height: 24px;
}

.stock-none {
	background: url('../img/heads.png') no-repeat 0px 0px;
	width: 0px;
	height: 0px;
	margin: 0px;
}